JWT_SECRET=abcd123456
#We are using the GitHub API to find out how many stars npm packages have. get GITHUB_TOKEN from https://github.com/settings/tokens 
#GITHUB_TOKEN=your-github-token
SERVER_ADDRESS=http://localhost:3299
PORT=3299
# Redis is optional in this project, you can use it in production
#REDIS_CONN_STRING="redis://127.0.0.1:6379/0"